.myModal .header,
.myModal .content,
.myModal .actions {
  background-color: #1e1e1e !important;
  color: white !important;
}

.myModalButton {
  background-color: #3c3c3c !important;
  color: white !important;
  font: bold;
}
.myModalButton:hover {
  background-color: #2f2f2f !important;
  color: white !important;
  font: bold;
}

.remote-cursor {
  border-left: 2px solid red; 
  opacity: 0.8;
}
